html {
  background: url('../assets/desert.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}


h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  -webkit-text-stroke: 2px black;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: white;
  -webkit-text-stroke: 1px black;
}

 #start {
   
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    border-color: #999;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 32px;
    background-color: sienna;
    border-radius: 15%;
    display: flex;
    display:block; margin: 0 auto;
    justify-content: center;
}


#timer{
    color: white;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('../assets/mallet.png'), pointer;
  margin-bottom: 10px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../assets/hole.png") bottom center no-repeat; 
  background-size:contain;
  content:'';
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background:url('../assets/Worm.png') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}

